body{
    text-align: center;
    width: 100vw;
    height: 100vh;
}


.house {
    width: 6vw;
    height: 9vh;
    border: 1px solid black;
    display: inline-block;
    margin: -1px;
    
}

.black {
    background-color: rgb(179, 179, 179);
}

.letras { 
    text-align: center;
    position: relative;
    font-size: 8.5vh;
    left: 3vh;
 
   
}

.letras {
    width: 7.2vw;
    height: 10vh;
    display: inline-block;
    margin: -1px;
}

.imgd {
    width:90px;
    height:90px
}
