body{
    text-align: center;
    width: 100vw;
    height: 100vh;
}


.house {
    width: 7vw;
    height: 10vh;
    border: 1px solid black;
    display: inline-block;
    margin: -1px;
    
}

.black {
    background-color: rgb(179, 179, 179);
}

.letra {
    position: absolute;
    top:  770px;
    left: 400px;
}

.letras {
    width: 7.2vw;
    height: 10vh;
    display: inline-block;
    margin: -1px;
}

.imgd {
    width:90px;
    height:90px
}
